.dropdown {
  position: absolute;
  top: 120%;
  right: 0;

  min-width: rem(200);

  border-radius: $radius;

  background: $panel-color;
  box-shadow: $panel-shadow;
  z-index: z('dropdown');

  &__list {
    padding: rem(16) 0;
  }
}
