.multicity-form {
  &__segment {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.9fr;
    grid-template-rows: $search-form-row-height;
    margin-bottom: 10px;

    @include mq('phablet') {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, $search-form-row-height);
    }
  }

  &__origin {
    position: relative;

    grid-column: 1/2;
    grid-row: 1/1;

    & input {
      border-radius: $radius 0 0 $radius;
      border-right: none;
    }

    & label:after {
      border-radius: $radius 0 0 0;
    }

    @include mq('phablet') {
      grid-column: 1/1;
      grid-row: 1/1;

      & input {
        border-radius: $radius $radius 0 0;
        border-right: $border-width solid $border-color;
      }

      & label:after {
        border-radius: $radius $radius 0 0;
      }
    }
  }

  &__destination {
    position: relative;

    grid-column: 2/3;
    grid-row: 1/1;

    & input {
      border-right: none;
    }

    @include mq('phablet') {
      grid-column: 1/1;
      grid-row: 2/2;

      & input {
        border-radius: 0;
        border-right: $border-width solid $border-color;
        border-top: none;
      }

      & label:after {
        border-radius: 0;
      }
    }
  }

  &__datepicker {
    grid-column: 3/4;
    grid-row: 1/1;

    & label:after {
      border-radius: 0 $radius 0 0;
    }

    @include mq('phablet') {
      grid-column: 1/3;
      grid-row: 3/3;

      & label:after {
        border-radius: 0;
      }
    }

    & .input--depart {
      border-radius: 0 $radius $radius 0;

      @include mq('phablet') {
        border-radius: 0 0 $radius $radius;
        border-top: none;
      }
    }
  }

  &__action {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.9fr;
    grid-template-rows: $search-form-row-height;

    @include mq('tablet') {
      grid-template-rows: $search-form-row-height $search-form-row-height;
      grid-row-gap: 10px;
    }

    @include mq('phablet') {
      grid-template-columns: 1fr;
      grid-template-rows: $search-form-row-height $search-form-row-height $search-form-row-height;
    }
  }

  &__select {
    grid-column: 1/2;
    grid-row: 1/1;

    border-radius: $radius;

    @include mq('tablet') {
      grid-column: 1/3;
    }

    @include mq('phablet') {
      grid-column: 1/1;
      grid-row: 1/1;
    }
  }

  &__add-btn {
    grid-column: 2/3;
    grid-row: 1/1;

    @include mq('tablet') {
      grid-column: 3/4;

      & > button {
        font-size: rem(14);
      }
    }

    @include mq('phablet') {
      grid-column: 1/1;
      grid-row: 2/2;

      & > button {
        font-size: rem(14);
      }
    }

    & > button {
      text-transform: uppercase;
    }
  }

  &__search-btn {
    grid-column: 3/4;
    grid-row: 1/1;

    margin-left: rem(20);

    @include mq('tablet') {
      grid-column: 1/4;
      grid-row: 2/2;
      margin-left: 0;
    }

    @include mq('phablet') {
      grid-column: 1/1;
      grid-row: 3/3;
    }
  }
}
