.currency-selector {
  @include display(flex, center, center);
  @include font-roboto(rem(14), $main-text-color, 400, normal, rem(21));

  position: relative;

  width: rem(60);
  height: rem(30);

  border: 1px solid #d5dce7;
  border-radius: rem(20);
  padding: 0;

  background: transparent;

  transition: background 0.2s linear;

  &:hover {
    cursor: pointer;
    background: lighten($home-header-color, 10%);
  }

  &--search {
    color: $primary-text-color;

    &:hover {
      cursor: pointer;
      background: lighten($accent-color, 40%);
    }
  }

  @include mq('tablet') {
    grid-column: 3/4;
    grid-row: 1/1;
  }
}
