$panel-color: #fff;

$border-color: #d5dce7;

$active-color: #03a3df;

$home-header-color: #184f88;
$bg-color: #03a3df;
$alternative-bg-color: #296aae;

$accent-color: #ff6200;

$primary-text-color: #474747;
$main-font-color: #f0f5f8;
$secondary-text-color: #b8b8b8;

$warning-color: #ef312f;

$active-item-color: rgba(255, 131, 54, 0.09);

$radius: 10px;
