.calendar {
  position: absolute;
  bottom: 109%;
  left: 50%;
  transform: translateX(-50%);
  z-index: z('calendar');

  @include mq('tablet-wide') {
    top: rem(-540);
    left: 100%;
  }

  &__inner {
    position: relative;
    max-width: rem(700);
    background: $panel-color;
    box-shadow: $panel-shadow;
    border-radius: 0 0 $radius $radius;
  }

  &__header {
    @include display(flex, space-between, center);
    width: 100%;
    height: $header-hight;
    border-bottom: 1px solid $border-color;
    padding: 0 $gap;
  }

  &__title {
    @include font-roboto(rem(16), $primary-text-color, normal, normal, rem(16));
  }

  &__months {
    @include display(flex, space-between, center);
    padding: $gap;
  }
}
