.action {
  @include display(flex, space-between, center);
  grid-area: action;

  &__total-tickets {
    @include font-roboto(rem(14), $primary-text-color, 500, normal, rem(16));
  }

  &__sort {
    position: relative;
    min-width: rem(250);
    height: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &__label {
    @include font-roboto(
      rem(14),
      $secondary-text-color,
      normal,
      normal,
      rem(16)
    );
    margin-right: rem(17);
  }

  &__selector {
    @include font-roboto(rem(14), $primary-text-color, 500, normal, rem(16));
    margin-right: rem(14);
  }
}
