.ticket {
  display: grid;
  grid-template-columns: 73.19% 26.81%;
  grid-template-rows: calc(100% - 25px) 25px;
  grid-template-areas:
    'ticket-left ticket-right'
    'ticket-expand ticket-expand';
  min-height: 262px;

  box-shadow: $panel-shadow-search;

  margin-bottom: rem(30);

  &__left {
    padding-left: rem(20);
    margin-right: rem(24);
    grid-area: ticket-left;
  }

  &__airlines {
    margin-bottom: rem(37);

    & > img {
      width: rem(30);
      height: rem(30);
      border-radius: 100%;
      margin-right: rem(5);
    }
  }

  &__body {
    @include display(flex, flex-start, flex-start);
    flex-direction: column;
    padding-top: rem(15);
  }

  &__route {
    @include display(flex, center, center);
    margin-bottom: rem(45);
  }

  &__time {
    @include font-roboto(rem(36), $primary-text-color, normal, normal, rem(42));
  }

  &__cityname {
    @include font-roboto(
      rem(14),
      $secondary-text-color,
      normal,
      normal,
      rem(14)
    );
    margin-bottom: rem(5);
  }

  &__date {
    @include font-roboto(
      rem(14),
      $secondary-text-color,
      normal,
      normal,
      rem(14)
    );
  }

  &__plane {
    @include display(flex, center, center);
    flex-direction: column;
    width: rem(200);
    margin-left: rem(32);
    margin-right: rem(32);
  }

  &__duration {
    @include font-roboto(rem(12), $primary-text-color, 500, normal, rem(14));
    margin-bottom: rem(12);
  }

  &__timeline {
    position: relative;
    width: 100%;
    height: rem(2);

    background-color: $secondary-text-color;
    border-radius: rem(10);

    margin-bottom: rem(12);
  }

  &__point-wrapepr {
    position: absolute;
    @include center-pos();
    @include display(flex, space-between, center);
  }

  &__point {
    width: rem(16);
    height: rem(16);

    background: $warning-color;
    border: rem(3) solid $panel-color;
    border-radius: 50%;
    margin-right: rem(6);
  }

  &__citycodes {
    width: 100%;
    @include display(flex, space-between, center);

    &-item {
      @include font-roboto(
        rem(12),
        $alternative-text-color,
        normal,
        normal,
        rem(14)
      );
    }
  }

  &__right {
    @include display(flex, flex-start, center);
    flex-direction: column;
    border-left: $border-width solid $ticket-devider-color;
    padding-top: rem(20);
    padding-right: rem(20);
    padding-left: rem(20);

    grid-area: ticket-right;
  }

  &__social {
    width: 100%;
    text-align: right;
    margin-bottom: rem(15);
  }

  &__share,
  &__like {
    width: rem(16);
    height: rem(16);
    color: $secondary-text-color;
    margin-left: rem(15);

    transition: color 0.2s linear, opacity 0.2s linear;
  }

  &__share {
    &:hover {
      cursor: pointer;
      color: $active-color;
    }
  }

  &__like {
    & > path + path {
      opacity: 0;
    }

    &:hover {
      cursor: pointer;
      color: $warning-color;

      & > path + path {
        opacity: 1;
      }
    }
  }

  &__handbag {
    @include font-roboto(
      rem(12),
      $secondary-text-color,
      normal,
      normal,
      rem(14)
    );

    margin-bottom: 5px;
  }

  &__suitcase {
    @include font-roboto(rem(12), $warning-color, 400, normal, rem(14));
    margin-bottom: rem(30);
  }

  &__handbag-icon {
    width: rem(16);
    height: rem(16);
    color: $secondary-text-color;
    margin-right: rem(7);
  }

  &__suitcase-icon {
    width: rem(12);
    height: rem(16);
    color: $warning-color;
    margin-right: rem(7);
  }

  &__buy-btn {
    width: 100%;
    height: rem(50);
  }

  &__expand-btn {
    width: 100%;
    height: rem(25);

    background: $ticket-devider-color;
    border: none;
    border-radius: 0 0 $radius $radius;

    grid-area: ticket-expand;

    transition: background 0.2s linear;

    & > svg {
      width: rem(14);
      height: rem(9);
      color: $primary-text-color;

      transition: color 0.2s linear;
    }

    &:hover {
      cursor: pointer;
      background: darken($ticket-devider-color, 1%);
    }

    &:hover > svg {
      color: $active-color;
    }
  }
}
