.direction-filter {
  @include display(flex, flex-start, center);
  @include font-roboto(rem(18), $primary-text-color, normal, normal, rem(16));
  margin-bottom: 75px;

  &__label {
    margin-right: 20px;
  }

  &__input {
    margin-right: 10px;
  }
}
