.section-inner {
  padding: rem(40) 0 rem(50);

  @include mq('tablet-small') {
    padding: rem(20) 0 rem(30);
  }
}

.section-title {
  @include font-roboto(rem(36), $primary-text-color, 700, normal, rem(59));
  text-align: center;

  margin-bottom: rem(40);

  @include mq('tablet-wide') {
    font-size: rem(32);
    line-height: rem(36);
  }

  @include mq('tablet-small') {
    font-size: rem(24);
    line-height: rem(28);
    margin-bottom: rem(10);
  }

  @include mq('phone-wide') {
    font-size: rem(16);
    line-height: rem(18);
  }
}

.bg-home {
  background-color: $home-page-color;
}

.site-info {
  &__items {
    @include display(flex, space-between, center);

    @include mq('tablet-small') {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    @include display(flex, center, center);
    flex-direction: column;
    max-width: rem(330);

    @include mq('tablet-wide') {
      max-width: rem(280);
    }

    @include mq('tablet') {
      max-width: rem(250);
    }

    @include mq('tablet-small') {
      max-width: 100%;
      padding-bottom: 1.25rem;
      padding-top: 1.25rem;
    }
  }

  &__icon {
    & > svg {
      width: rem(45);
      height: rem(45);

      @include mq('tablet') {
        width: rem(35);
        height: rem(35);
      }

      @include mq('phone-wide') {
        width: rem(25);
        height: rem(25);
      }
    }

    color: $accent-color;

    margin-bottom: rem(15);

    @include mq('tablet-small') {
      margin-bottom: 0;
    }
  }

  &__title {
    @include font-roboto(rem(18), $primary-text-color, 700, normal, rem(21));
    margin-bottom: rem(15);

    @include mq('tablet') {
      font-size: rem(16);
    }

    @include mq('tablet-small') {
      text-align: center;
      font-size: rem(14);
      margin-bottom: rem(10);
    }

    @include mq('phone-wide') {
      font-size: rem(12);
    }
  }

  &__content {
    @include font-roboto(rem(16), $primary-text-color, 500, normal, rem(18));
    text-align: center;

    @include mq('tablet') {
      font-size: rem(14);
    }

    @include mq('phone-wide') {
      font-size: rem(12);
    }
  }
}

.destinations {
  $self: &;
  background-color: $home-page-color;

  &__items {
    display: grid;
    grid-template-areas: 'a a b b' 'c d e f';
    grid-template-rows: repeat(2, rem(240));
    grid-gap: rem(20);

    @include mq('tablet-wide') {
      grid-template-rows: repeat(2, rem(228));
    }

    @include mq('tablet') {
      grid-template-rows: repeat(2, rem(168));
      grid-gap: rem(10);
    }

    @include mq('tablet-small') {
      grid-template-rows: repeat(2, rem(140));
    }

    @include mq('phablet') {
      grid-template-rows: repeat(2, rem(120));
    }

    @include mq('phone-wide') {
      grid-template-areas: 'a a b b' 'c c d d' 'e e f f';
      grid-template-rows: repeat(3, rem(104));
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: $radius;

    box-shadow: 1px 1px 8px 0px #7e7e7e;

    $areas: 'a', 'b', 'c', 'd', 'e', 'f';

    @each $area in $areas {
      &--#{ $area } {
        grid-area: #{$area};
      }
    }

    &:hover #{ $self }__label,
    &:hover #{ $self }__info {
      bottom: -37%;
      opacity: 1;

      @include mq('tablet') {
        bottom: -14%;
      }
    }

    &:hover #{ $self }__label {
      transition-delay: 0.1s;
    }

    &:hover #{ $self }__info {
      transition-delay: 0.2s;
    }

    &:hover #{ $self }__details {
      opacity: 1;
      top: 50%;
    }

    &:hover {
      cursor: pointer;
    }

    @include mq('tablet-small') {
      border-radius: $radius;
    }
  }

  &__details {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    height: 50%;
    width: 100%;

    padding: rem(20);

    flex-direction: column;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 100%
    );

    @include mq('tablet') {
      padding: rem(10);
    }

    @include mq('phone-wide') {
      padding: rem(5);
    }
  }

  &__label,
  &__info {
    opacity: 0;
    position: relative;
    bottom: -120%;
    transition: bottom 0.3s linear 0s, opacity 0.3s linear 0s;
  }

  &__details {
    opacity: 0;
    transition: top 0.3s linear;
  }

  &__label {
    @include font-roboto(rem(16), $main-text-color, 500, normal, rem(18));

    @include mq('tablet') {
      font-size: rem(14);
      line-height: rem(16);
    }

    @include mq('tablet-small') {
      font-size: rem(14);
    }

    @include mq('phone-wide') {
      font-size: rem(12);
      font-weight: normal;
    }
  }

  &__info {
    @include font-roboto(rem(14), $main-text-color, normal, normal, rem(16));

    @include mq('tablet-wide') {
      font-size: rem(12);
      line-height: rem(14);
    }

    @include mq('tablet-small') {
      display: none;
    }
  }

  &__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

$img-width: 37.5%;

.offers {
  &__items {
    @include display(flex, space-between, center);

    @include mq('tablet-small') {
      flex-direction: column;
    }
  }

  &__item {
    @include display(flex, flex-start, flex-start);
    max-width: rem(312);
    height: rem(110);

    background: $panel-color;
    box-shadow: 0px 0px rem(20) 1px rgba(96, 96, 96, 0.15);
    border-radius: $radius;

    overflow: hidden;

    @include mq('tablet-wide') {
      max-width: rem(300);
      height: rem(105);
    }

    @include mq('tablet') {
      max-width: rem(240);
      height: rem(84);
    }

    @include mq('tablet-small') {
      max-width: 100%;
      height: rem(100);

      margin-bottom: rem(10);
    }
  }

  &__image {
    object-fit: cover;
    height: 100%;
    width: $img-width;

    border-right: rem(4) solid $accent-color;
  }

  &__content {
    @include display(flex, space-between, flex-start);
    flex-direction: column;

    width: calc(100% - #{$img-width});

    height: 100%;
    padding: rem(10);
  }

  &__title {
    @include font-roboto(rem(14), $primary-text-color, 500, normal, rem(16));

    @include mq('phone-wide') {
      font-size: rem(14);
    }

    @include mq('tablet') {
      font-size: rem(12);
    }

    @include mq('tablet-small') {
      font-size: rem(14);
    }
  }

  &__link {
    @include font-roboto(
      rem(12),
      $alternative-text-color,
      normal,
      normal,
      rem(14)
    );

    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: lighten($alternative-text-color, 9%);
    }

    @include mq('phone-wide') {
      font-size: rem(12);
    }

    @include mq('tablet-small') {
      font-size: rem(14);
      line-height: rem(16);
    }
  }
}

.best-flights {
  &__selector {
    color: $accent-color;
  }

  &__bages {
    @include display(flex, center, flex-start);
    flex-wrap: wrap;

    margin-bottom: rem(30);

    @include mq('phablet') {
      display: none;
    }
  }

  &__bage {
    @include font-roboto(rem(14), $primary-text-color, normal, normal, rem(16));
    min-width: rem(100);

    padding: rem(7) rem(28);

    background: $pages-bg-color;

    border: 1px solid rgba(71, 71, 71, 0.1);
    border-radius: rem(50);

    box-shadow: $panel-shadow;

    margin: rem(10);

    @include mq('tablet-wide') {
      @include font-roboto(
        rem(12),
        $primary-text-color,
        normal,
        normal,
        rem(14)
      );

      padding: rem(7) rem(20);
    }

    @include mq('tablet') {
      padding: rem(7) rem(16);
      margin: rem(7);
    }

    @include mq('tablet-small') {
      margin: rem(5);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 270px);
    grid-gap: rem(20);

    @include mq('tablet-wide') {
      grid-template-rows: repeat(3, rem(221));
    }

    @include mq('tablet') {
      grid-template-rows: repeat(3, rem(161));
    }

    @include mq('tablet-small') {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, rem(140));
      grid-gap: rem(10);
    }
  }

  &__item {
    background: $panel-color;
    box-shadow: 0px 0px rem(20) 1px rgba(96, 96, 96, 0.15);
    border-radius: $radius;

    overflow: hidden;
  }

  &__image {
    object-fit: cover;
    height: 66.6%;
    width: 100%;

    @include mq('tablet') {
      height: 55%;
    }

    @include mq('tablet-wide') {
      height: 60%;
    }
  }

  &__content {
    padding: rem(15);

    @include mq('tablet-wide') {
      padding: rem(10);
    }

    @include mq('tablet-small') {
      padding: rem(5);
    }
  }

  &__title {
    @include font-roboto(rem(16), $primary-text-color, 500, normal, rem(19));

    margin-bottom: rem(30);

    @include mq('tablet-wide') {
      font-size: rem(14);
      line-height: rem(16);
      margin-bottom: rem(20);
    }

    @include mq('tablet') {
      font-size: rem(12);
      line-height: rem(14);
    }

    @include mq('tablet-small') {
      margin-bottom: rem(10);

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__action {
    @include display(flex, space-between, flex-start);
  }

  &__route {
    @include font-roboto(rem(12), $secondary-text-color, 500, normal, rem(14));

    @include mq('tablet-wide') {
      font-weight: normal;
    }

    @include mq('tablet-small') {
      display: none;
    }
  }

  &__price-link {
    @include font-roboto(
      rem(14),
      $alternative-text-color,
      500,
      normal,
      rem(16)
    );

    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: lighten($alternative-text-color, 9%);
    }

    @include mq('tablet-wide') {
      font-weight: normal;
    }

    @include mq('tablet') {
      font-size: rem(12);
      line-height: rem(14);
    }
  }
}

$self-width: calc(50% - 55px);

.members {
  background: $search-page-info-bg-color;

  &__content {
    @include display(flex, space-between, center);

    @include mq('phablet') {
      flex-direction: column;
    }
  }

  &__right {
    width: $self-width;

    @include mq('tablet') {
      width: 100%;
    }

    @include mq('phablet') {
      margin-bottom: rem(20);
    }
  }

  &__title {
    @include font-roboto(rem(36), $main-text-color, 500, normal, rem(42));

    margin-bottom: rem(18);

    @include mq('tablet') {
      font-size: rem(24);
      line-height: rem(36);
    }

    @include mq('phablet') {
      text-align: center;
    }
  }

  &__info {
    @include font-roboto(rem(16), $main-text-color, normal, normal, rem(19));

    @include mq('tablet') {
      font-size: rem(14);
      line-height: rem(16);
    }
  }

  &__form {
    position: relative;
    width: $self-width;

    @include mq('tablet') {
      width: 100%;
    }
  }

  &__label {
    width: 100%;
  }

  &__input {
    @include font-roboto(rem(18), $main-text-color, normal, normal, rem(21));

    width: inherit;

    border: $border-width solid $panel-color;
    border-radius: rem(100);
    background: transparent;

    padding: rem(15);

    &::placeholder {
      @include font-roboto(rem(18), $main-text-color, normal, normal, rem(21));

      @include mq('tablet') {
        font-size: rem(14);
        line-height: rem(16);
      }
    }

    @include mq('tablet') {
      font-size: rem(16);
      line-height: rem(18);

      padding: rem(10);
    }
  }

  &__button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;

    padding: 0 rem(16);

    @include font-roboto(rem(18), $main-text-color, normal, normal, rem(21));

    background: $accent-color;
    border: 1px solid $panel-color;
    border-radius: 0px rem(100) rem(100) 0px;

    transition: background 0.2s linear;

    &:hover {
      background: lighten($accent-color, 6%);
      cursor: pointer;
    }

    @include mq('tablet') {
      font-size: rem(14);
      line-height: rem(16);
    }
  }
}

.articles {
  $self: &;

  &__items {
    display: grid;
    grid-template-areas:
      'article-1 article-2'
      'article-1 article-3';
    grid-template-rows: repeat(2, rem(195));
    grid-gap: rem(20);

    @include mq('tablet-small') {
      grid-template-areas:
        'article-1'
        'article-2'
        'article-3';
      grid-template-rows: repeat(3, rem(195));
    }
  }

  &__item {
    $articlesId: 'article-1', 'article-2', 'article-3';

    @each $articleId in $articlesId {
      &--#{ $articleId } {
        grid-area: #{$articleId};
      }
    }

    background: $panel-color;
    box-shadow: 0px 0px rem(20) 1px rgba(96, 96, 96, 0.15);
    border-radius: $radius;

    overflow: hidden;

    &--horizontal {
      @include display(flex, space-between, center);

      & #{ $self }__image {
        height: 100%;
        width: 34%;
      }

      & #{ $self }__content {
        height: 100%;
      }
    }

    @include mq('tablet-small') {
      @include display(flex, space-between, center);

      & #{ $self }__image {
        height: 100%;
        width: 34%;
      }

      & #{ $self }__content {
        height: 100%;
      }
    }
  }

  &__image {
    object-fit: cover;
    height: 51%;
    width: 100%;

    @include mq('phone-wide') {
      display: none;
    }
  }

  &__content {
    @include display(flex, space-between, flex-start);
    flex-direction: column;

    width: 100%;
    height: 49%;

    padding: rem(15);
  }

  &__title {
    @include font-roboto(rem(16), $primary-text-color, 700, normal, rem(19));

    @include mq('phone') {
      font-size: rem(12);
      line-height: rem(14);
      font-weight: 500;
    }
  }

  &__text {
    @include font-roboto(rem(14), $primary-text-color, normal, normal, rem(16));

    @include mq('phone') {
      font-size: rem(12);
      line-height: rem(14);
    }
  }

  &__date {
    @include font-roboto(rem(12), $secondary-text-color, 500, normal, rem(14));
  }

  &__action {
    width: 100%;
    @include display(flex, space-between, flex-start);
  }

  &__link {
    @include font-roboto(
      rem(14),
      $alternative-text-color,
      normal,
      normal,
      rem(16)
    );

    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: lighten($alternative-text-color, 9%);
    }

    @include mq('tablet-wide') {
      font-weight: normal;
    }

    @include mq('tablet') {
      font-size: rem(12);
      line-height: rem(14);
    }
  }
}

.footer {
  height: rem(105);
  padding: rem(25) 0;
  background: $home-header-color;

  &__items {
    @include display(flex, space-between, center);
    flex-direction: column;
    height: 100%;

    padding: 0 rem(40);
  }

  &__author,
  &__code {
    @include font-roboto(rem(14), $main-text-color, 500, normal, rem(16));
  }

  &__code {
    @include font-roboto(rem(14), $main-text-color, 500, normal, rem(16));
  }

  &__link {
    @include font-roboto(rem(14), $main-text-color, normal, normal, rem(16));

    &:hover {
      cursor: pointer;
      color: lighten($main-text-color, 9%);
    }
  }

  &__desclaimer {
    @include font-roboto(rem(13), $main-text-color, normal, normal, rem(16));
    text-align: center;
  }

  &__warning {
    color: $accent-color;
  }
}
