.radio {
  margin-right: rem(20);

  @include mq('tablet-small') {
    margin-bottom: rem(10);
  }

  &__label {
    display: inline-block;
    position: relative;

    @include font-roboto(rem(16), $primary-text-color, normal, normal, rem(16));

    cursor: pointer;
    padding-left: rem(30);

    @include mq('phone-wide') {
      font-size: rem(16);
    }

    &:before,
    &:after {
      @include pseudo();
      border-radius: 100%;
    }

    &:before {
      left: 0;
      top: -2px;
      width: rem(20);
      height: rem(20);

      background: $panel-color;
      border: $border-width solid rgba($primary-text-color, 0.5);

      transition: box-shadow 0.2s linear, border 0.2s linear;

      @include mq('phone-wide') {
        width: rem(18);
        height: rem(18);
      }
    }

    &:after {
      top: 3px;
      left: 5px;

      width: rem(10);
      height: rem(10);

      background: $active-color;

      transform: scale(0);

      transition: transform 0.2s linear;

      @include mq('phone-wide') {
        width: rem(8);
        height: rem(8);
      }
    }
  }

  &__input {
    display: none;

    &:checked + label:before {
      animation: pulse 0.2s linear forwards;
      border: $border-width solid $active-color;
    }

    &:checked + label:after {
      transform: scale(1);
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 1px rgba($active-color, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 10px rgba($active-color, 0.12);
  }
  100% {
    box-shadow: 0px 0px 0px 10px rgba($active-color, 0);
  }
}
