.info {
  width: 100%;

  background-color: $alternative-bg-color;

  &__inner {
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr;
    grid-template-areas: '. info-titles .' 'search-panel search-panel search-panel';
  }

  &__titles {
    grid-area: info-titles;
    align-self: flex-end;
    margin-bottom: 70px;
  }

  &__title {
    @include font-roboto(rem(52), $main-font-color, 500, normal, rem(42));
    margin-bottom: 16px;
    text-align: center;
  }

  &__subtitle {
    @include font-roboto(rem(18), $main-font-color, normal, normal, rem(21));
    text-align: center;
  }
}
