.info {
  width: 100%;
  height: calc(100vh - 60px);
  padding-top: 250px;
  background-color: $home-color;

  &__title {
    @include font-roboto(rem(36), $main-font-color, normal, normal, rem(42));
    margin-bottom: 10px;
    text-align: center;
  }

  &__subtitle {
    @include font-roboto(rem(18), $main-font-color, normal, normal, rem(21));
    text-align: center;
    margin-bottom: 160px;
  }
}
