.accordion {
  &__item {
    border-top: 1px solid lighten($secondary-text-color, 18%);
  }

  &__header {
    @include display(flex, flex-start, center);
    width: 100%;
    height: rem(50);
    padding: rem(15) rem(20);

    transition: background 0.2s linear;

    &:hover {
      cursor: pointer;
      background: lighten($primary-text-color, 69%);
    }
  }

  &__title {
    @include font-roboto(rem(14), $primary-text-color, 500, normal, rem(16));
  }

  &__content {
    max-height: 0;
    overflow: auto;
    transition: max-height 0.3s linear;

    &--open {
      max-height: rem(300);
      transition: max-height 0.3s linear;
    }

    &-wrapper {
      padding: $gap 0;
      height: 100%;
    }
  }
}
