.label {
  height: rem(60);
}

.input {
  @include font-roboto(rem(18), $primary-text-color, normal, normal, rem(16));
  width: 100%;
  height: inherit;

  background: $panel-color;
  border: 2px solid $border-color;

  border-radius: 0;
  padding: 0 rem(16);

  border-right: none;

  &::placeholder {
    @include font-roboto(rem(16), $secondary-text-color, normal, normal, (19));
  }
}
