$input-width: 255;

.slider-range {
  display: flex;
  justify-content: center;
  padding: 0 rem(20);

  &__label {
    position: relative;
  }

  &__input {
    pointer-events: none;
    position: absolute;
    width: rem($input-width);
    height: 0;
    margin: 0;
  }

  &__input--left {
    z-index: 3;
  }

  &__input--right {
    z-index: 4;
  }

  &__input--above {
    z-index: 5;
  }

  &__input,
  &__input::-webkit-slider-thumb {
    appearance: none;
  }

  &__input::-webkit-slider-thumb {
    position: relative;

    height: rem(16);
    width: rem(16);

    background-color: $panel-color;
    border: 1px solid $active-color;
    border-radius: 100%;

    margin-top: rem(4);
    pointer-events: all;

    transition: background-color 0.2s linear;

    &:hover {
      cursor: pointer;
      background-color: $active-color;
    }
  }

  &__input::-moz-range-thumb {
    position: relative;

    height: rem(16);
    width: rem(16);

    background-color: $panel-color;
    border: 1px solid $active-color;
    border-radius: 100%;

    margin-top: rem(4);
    pointer-events: all;

    &:hover {
      cursor: pointer;
    }
  }
}

.slider {
  position: relative;
  width: rem($input-width);

  &__track,
  &__range {
    position: absolute;
    width: 100%;
    height: rem(1);
    border-radius: rem(15);
  }

  &__track {
    background: $disabled-color;
    z-index: 1;
  }

  &__range {
    background: $active-color;
    z-index: 2;
  }

  &__info {
    width: 100%;
    @include display(flex, space-between, center);
    @include font-roboto(rem(14), $primary-text-color, nurmal, normal, rem(16));

    margin-bottom: 7px;
    margin-top: 9px;
  }
}
