.search-form {
  position: relative;
  display: grid;
  grid-template-columns: 0.9fr 0.9fr 0.9fr 0.9fr 0.9fr 1fr;
  grid-template-rows: rem(60);

  &__select {
    width: 100%;
    height: inherit;

    background: $panel-color;

    padding: 0 rem(16);

    border: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    border-right: 2px solid $border-color;
    border-radius: 0 $radius $radius 0;
  }
}
