.search-form {
  display: grid;
  grid-template-columns: 0.9fr 0.9fr 0.9fr 0.9fr 0.9fr 1fr;
  grid-template-rows: rem(60);

  &__label {
    height: rem(60)
  }

  &__input {
    @include font-roboto(rem(18), $primary-text-color, normal, normal, rem(16));
    width: 100%;
    height: inherit;

    background: $panel-color;
    border: 2px solid $border-color;

    border-radius: 0;
    padding: 0;

    &--origin {
      border-radius: $radius 0 0 $radius;
    }

    &--destination,
    &--depart,
    &--return,
    &--origin {
      border-right: none;
    }

    &::placeholder {
      @include font-roboto(
        rem(16),
        $secondary-text-color,
        normal,
        normal,
        (19)
      );
    }
  }

  &__select {
    width: 100%;
    height: inherit;

    background: $panel-color;

    padding: 0;

    border: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    border-right: 2px solid $border-color;
    border-radius: 0 $radius $radius 0;
  }

  &__button {
    @include font-roboto(rem(16), $main-font-color, normal, normal, rem(19));

    height: inherit;

    margin-left: rem(20);

    background: $accent-color;
    border: none;
    border-radius: $radius;
    padding: 0;

    transition: background 0.2s linear;

    &:hover {
      cursor: pointer;
      background: lighten($accent-color, 6%);
    }
  }
}
