.search-panel {
  padding: rem(67) rem(50);
  background: $panel-color;
  border-radius: $radius;

  grid-area: search-panel;

  @include mq('phone-wide') {
    padding: rem(40) rem(30);
  }

  @include mq('phone') {
    padding: rem(25) rem(20);
  }
}
