.nav-toggle {
  display: none;
  width: rem(20);
  height: rem(16);
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }

  & > div {
    position: relative;
    width: 100%;
    height: rem(2);
    background: #fff;

    &:after,
    &:before {
      @include pseudo();
      left: 0;
      width: 100%;
      height: rem(2);
      background: #fff;
    }

    &:after {
      top: rem(5);
    }

    &:before {
      bottom: rem(5);
    }
  }

  @include mq('tablet') {
    @include display(flex, center, center);
    grid-column: 1/2;
    grid-row: 1/1;
  }
}
