.header {
  width: 100%;
  height: rem(60);

  background: $home-header-color;

  &__inner {
    @include display(grid, space-between, center);
    grid-template-columns: 1fr 2fr 1fr;
    height: inherit;
  }
}
