.header {
  width: 100%;
  height: rem(60);

  background: $home-header-color;

  &__inner {
    @include display(grid, space-between, center);
    grid-template-columns: auto auto auto;
    grid-template-rows: 60px;

    @include mq('tablet') {
    }
  }

  &__nav-toggle {
    width: 20px;
    height: 20px;
    background: #fff;
    display: none;

    @include mq('tablet') {
      display: block;
      grid-column: 1/2;
      grid-row: 1/1;
    }
  }
}
