.datepicker {
  @include display(flex, flex-start, center);
  position: relative;

  &__depart {
    width: 100%;

    &:after {
      @include pseudo();
      bottom: 0;
      right: 0;
      width: 0;
      height: $border-width;
      background: $active-color;
      transition: width 0.2s linear;
    }

    &--active {
      &:after {
        width: 99.5%;
      }
    }
  }

  &__return {
    width: 100%;

    &:after {
      @include pseudo();
      bottom: 0;
      right: 0;
      width: 0;
      height: $border-width;
      background: $active-color;
      transition: width 0.2s linear;
    }

    &--active {
      &:after {
        width: 49.5%;
      }
    }
  }
}
