.datepicker {
  @include display(flex, flex-start, center);
  position: relative;
  height: 100%;

  &__depart {
    width: 100%;
    height: 100%;
  }

  &__return {
    width: 100%;
    height: 100%;
  }
}
