.prediction__item {
  position: relative;
  width: 100%;
  padding-top: rem(19);
  padding-bottom: rem(19);
  text-align: center;

  border-bottom: rem(3) solid transparent;

  transition: border 0.2s linear, background 0.2s linear;

  &:not(:last-child) :before {
    @include pseudo();
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px;
    height: 70%;
    background: $secondary-text-color;
  }

  &:hover {
    cursor: pointer;
    background-color: $active-item-color;

    border-bottom: rem(3) solid $accent-color;
  }
}

.prediction__price {
  @include font-roboto(rem(16), $primary-text-color, normal, normal, rem(19));
  margin-bottom: rem(6);
}

.prediction__date {
  @include font-roboto(rem(12), $secondary-text-color, normal, normal, rem(14));
}
