.delete-button {
  @include display(flex, center, center);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: rem(-9);

  width: rem(20);
  height: rem(20);

  background: $delete-color;

  border: none;
  border-radius: 100%;
  padding: 0;

  transition: background 0.2s linear;

  & > svg {
    color: $panel-color;
    width: rem(15);
    height: rem(15);
  }

  &:hover {
    background: lighten($delete-color, 5%);
    cursor: pointer;
  }
}
