.avia-search {
  padding-top: rem(40);
  padding-bottom: rem(100);

  &__inner {
    display: grid;
    grid-template-columns: rem(295) rem(730);
    grid-template-areas:
      'filters prediction'
      'filters action'
      'filters tickets';
    grid-template-rows: repeat(2, max-content);
    grid-gap: ($gap);
  }
}

.tickets {
  grid-area: tickets;

  &__btn {
    width: 100%;
    height: rem(70);
  }
}
