.avia-search {
  padding-top: rem(40);
  padding-bottom: rem(100);

  &__inner {
    @include display(flex, flex-start, flex-start);
    gap: $gap;
  }

  &__content {
    width: rem(730);
    height: 100%;
  }
}

.tickets {
  width: 100%;

  &__btn {
    width: inherit;
    height: rem(70);
  }
}
