.label {
  height: 100%;
}

.input {
  @include font-roboto(rem(18), $primary-text-color, normal, normal, rem(16));
  width: 100%;
  height: inherit;
  position: relative;

  background: $panel-color;
  border: $border-width solid $border-color;

  padding: 0 rem(16);

  transition: border-bottom 0.2s linear;

  &::placeholder {
    @include font-roboto(rem(16), $secondary-text-color, normal, normal, (19));
  }

  &--pointer {
    cursor: pointer !important;
  }

  &:focus {
    box-shadow: 0 0 0 $border-width $accent-color;
    z-index: z('input-focus');
    border-color: transparent;
  }
}
