.dropdown {
  position: absolute;
  top: rem(40);
  right: 0;

  min-width: rem(200);

  border-radius: $radius;

  background: $panel-color;

  &__lists {
    padding: rem(20) 0;
  }

  &__list {
    @include font-roboto(rem(16), $primary-text-color, normal, normal, rem(19));
    position: relative;

    width: 100%;
    height: rem(40);

    padding: rem(10);

    transition: background 0.2s ease-in;

    & :first-child {
      margin-right: rem(20);
    }

    &:hover {
      cursor: pointer;
      background: $active-item-color;
    }

    &:hover:before {
      background: $accent-color;
    }

    &:before {
      @include pseudo();
      width: 2px;
      height: 100%;

      top: 0;
      left: 0;
      bottom: 0;

      transition: background 0.2s ease-in;
    }
  }
}
