.slide-btn {
  $btn-size: rem(49);
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  width: $btn-size;
  height: $btn-size;
  border-radius: 100%;
  border: none;

  background: $panel-color;
  box-shadow: $panel-shadow;

  &[disabled] {
    background: darken($panel-color, 5%);

    & > svg {
      color: #a7a7a7;
    }

    &:hover {
      cursor: default;

      & > svg {
        color: #a7a7a7;
      }
    }
  }

  &:hover {
    cursor: pointer;

    & > svg {
      color: $active-color;
    }
  }

  & > svg {
    width: rem(12);
    height: rem(18);
    color: $primary-text-color;

    transition: color 0.2s linear;
  }

  &--prev {
    left: -$btn-size/2;
  }

  &--next {
    right: -$btn-size/2;
  }
}
