$line-height: rem(2);

.nav {
  &__lists {
    @include display(flex, center, center);

    @include mq('tablet') {
      display: none;
    }
  }

  &__list {
    position: relative;

    &:not(:last-child) {
      margin-right: rem(20);
    }
  }

  &__link {
    @include font-roboto(rem(16), $main-text-color, 400, normal, rem(21));
    text-decoration: none;

    transition: color 0.2s linear;

    &:after {
      @include pseudo();
      width: 0;
      height: $line-height;
      background: $main-text-color;

      transition: width 0.2s linear;
    }

    &--search {
      color: $primary-text-color;

      &:after {
        @include pseudo();
        width: 0;
        height: $line-height;
        background: $primary-text-color;

        transition: width 0.2s linear;
      }
    }

    &:hover:after {
      width: 100%;
    }

    &--active {
      &:after {
        @include pseudo();
        width: 100%;
        height: $line-height;
        background: $main-text-color;

        transition: width 0.2s linear;
      }
    }
  }
}
